@model IEnumerable<ContatosMVC.Models.ContatoModel>
@{
    ViewData["Title"] = "Outros";
}

<div class="text-center text-bg-secondary p-3">
    <h1 class="display-4">Outros</h1>
</div>

<table class="table table-warning table-bordered border-dark">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Celular)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
                <tr>
                    <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.Celular)
                    </td>
                </tr>
        }
    </tbody>
</table>